header {
  text-align: center;
  font-family: 'Cuprum', sans-serif;
}

header > h1 {
  margin: 15px;
}

header > nav {
  margin: 15px;
  font-size: 20px;
}

header > nav > a {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
}

header > nav > a:hover{
  color: aqua;
}

header > div > nav{
  margin: 15px;
  font-size: 20px;
}

header > div > nav > a:hover{
  color: aqua;
}

header > div > nav > a{
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
}

/* font-family: 'Acme', sans-serif; */
/* font-family: 'Cuprum', sans-serif; */
/* font-family: 'Pathway Gothic One', sans-serif; */
